<div class="social">
	<h4>
    {% if site.email %}
      <a href="mailto:{{ site.email}}"><i class="fa fa-envelope"></i></a>
    {% endif %}
    {% if site.skype %}
      <a href="skype:{{ site.skype }}?add"><i class="fa fa-skype"></i></a>
    {% endif %}
    {% if site.telegram %}
      <a href="http://www.telegram.me/{{ site.telegram }}" target="_blank"><i class="fa fa-telegram"></i></a>
    {% endif %}
    {% if site.twitter %}
      <a href="http://twitter.com/{{ site.twitter }}" target="_blank"><i class="fa fa-twitter"></i></a>
    {% endif %}
    {% if site.linkedin %}
      <a href="https://www.linkedin.com/in/{{ site.linkedin }}" target="_blank"><i class="fa fa-linkedin"></i></a>
    {% endif %}
    {% if site.github %}
      <a href="http://github.com/{{ site.github }}" target="_blank"><i class="fa fa-github"></i></a>
    {% endif %}
    {% if site.stackoverflow %}
      <a href="http://stackoverflow.com/{{ site.stackoverflow }}"><i class="fa fa-stack-overflow"></i></a>
    {% endif %}
    {% if site.scholar %}
      <a href="https://scholar.google.com/citations?user={{ site.scholar }}" target="_blank"><i class="fa fa-graduation-cap"></i></a>
    {% endif %}
	</h4>
</div>
